@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Saira+Semi+Condensed:wght@300&display=swap');

.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  min-width: 700px;
  margin: 0 auto;
  justify-content: center;
  padding: 30px 0;
}

.project {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-img {
  /* flex: 1; */
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  max-height: 35vh;
  max-width: 800px;
}

.project-links {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.about-container {
  margin: 20px auto;
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.about-headshot {
  width: auto;
  height: auto;
  max-width: 30vw;
  max-height: 30vh;
  border-radius: 50%;
  border: 8px solid black;
  box-sizing: border-box;
}

.about-title {
  margin-bottom: 5px;
}
.about-email {
  margin: 0;
}

.about-details {
  padding: 20px;
}

a {
  text-decoration: none;
}

.link-text {
  color: black;
  transition: all 0.3s;
}

.link-text:hover {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.link-logo {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}

.project-link {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background: #d5d5d5cf;
  align-items: center;
  height: 8vh;
}

.nav-title {
  font-family: 'Lekton', sans-serif;
  font-size: 40px;
  color: black;
  padding: 0 30px;
  margin: 0;
}

.nav-text {
  color: black;
  padding: 0 20px;
  font-size: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-text:hover {
  background: #d5d5d5;
}

.nav-links {
  display: flex;
  padding: 0 20px;
  height: 100%;
  align-items: center;
}